<div class="container">
  <div class="col-md-2">
    <app-menu></app-menu>
  </div>
  <div class="col-md-10">
    <div class="position">
      <button type="button" class="btn btn-primary btn-lg" (click)="ouvrir(erreur)">Ajouter</button>
    </div>

    <table class="table">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Identifiant</th>
        <th scope="col">Nom</th>
        <th scope="col">Designation</th>
        <th scope="col">Realisation</th>
        <th scope="col">But</th>
        <th scope="col">Etat</th>
      </tr>
      </thead>
      <tbody *ngIf="domaines">
      <tr *ngFor="let d of domaines._embedded.domaines">
        <td>{{d.idDomaine}}</td>
        <td>{{d.nomDomaine}}</td>
        <td>{{d.descriptionDomaine}}</td>
        <td>{{d.realisation}}</td>
        <td>{{d.but}}</td>

        <td>
          <div class="form-check">
            <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
            <label>Afficher</label>
          </div>
          <div class="form-check">
            <input class="form-check-input position-static" type="checkbox" name="blankRadio" id="blankRadio1" value="option1" aria-label="...">
            <label>Cacher</label>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #erreur>
  <div class="modal-header bg-primary">
    <h4 class="modal-title pull-left">Ajout Domaine</h4>
  </div>
  <div class="modal-body ">
    <div class="container">
      <form #f="ngForm" (ngSubmit)="onUpload(f.value)">
        <div class="form-group">
          <label >Nom Domaine</label>
          <input type="text" class="form-control" id="nomDomaine" name="nomDomaine" ngModel="" required>
        </div>

        <div class="custom-file">
          <label >Image Domaine</label>
          <input type="file" class="custom-file-input" id="imageDomaine" name="imageDomaine" (change)="onFileSelected($event)" ngModel="">
          <label class="custom-file-label" for="imageDomaine">Choose Image</label>
        </div>

        <div class="form-group">
          <label >But</label>
          <input type="number" class="form-control" id="but" name="but" ngModel="" required>
        </div>

        <div class="form-group">
          <label >Etat</label>
          <input type="number" class="form-control" id="etat" name="etat" ngModel="" required>
        </div>

        <div class="form-group">
          <label >Description</label>
          <textarea type="text" class="form-control" id="descriptionDomaine" name="descriptionDomaine" ngModel="">
          </textarea>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-danger pull-left" (click)="modalRef.hide()">
            Annuler
          </button>
          <button type="submit" class="btn btn-success">Enregistrer</button>
        </div>


      </form>
    </div>
  </div>

</ng-template>

