<div id="news" class="news">
  <div class="container">
    <h2 class="title">Dernieres Nouvelles</h2>
    <p class="" >Lorem Ipsum is simply dummy text of the printing and typesettin dummy text</p>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4  " >
        <div class="panel ">
          <div class="panel-heading news-1">
            <img src="assets/images/news/news1.jpg" class="img-responsive " alt=" Premiere Nouvelle " >
          </div>
          <div class=" panel-body">

            <h4 class="pannel-title">
              <a href="#" class="text-dark">News 1</a></h4>
            <p >Some quick example text to build on the card title and make up the bulk of the card's content.</p>


          </div>
        </div>

        <div class="panel ">

          <div class=" panel-body" class="news-1-2">
            <p >Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <footer class="blockquote-footer">
              <small class="text-muted">
                Someone famous in <cite title="Source Title">Source Title</cite>
              </small>
            </footer>
          </div>
        </div>


      </div>

      <div class="col-lg-4 col-md-4 col-sm-4  " >
        <div class="panel ">
          <div class="panel-heading">
            <img src="assets/images/news/news2.jpg" class="img-responsive " alt="Education" >
          </div>
          <div class=" panel-body">

            <h4 class="pannel-title">
              <a href="#" class="text-dark">News 2</a></h4>
            <p >Some quick example text to build on the card title and make up the bulk of the card's content.</p>

          </div>
        </div>

        <div class="panel ">

          <div class=" panel-body" class="news-1-2">
            <p >Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <footer class="blockquote-footer">
              <small class="text-muted">
                Someone famous in <cite title="Source Title">Source Title</cite>
              </small>
            </footer>
          </div>
        </div>

        <div class="panel ">
          <div class="panel-heading">
            <img src="assets/images/news/news3.jpg" class="img-responsive " alt="Education" >
          </div>
          <div class=" panel-body">
            <h4 class="pannel-title" style="text-align: center;">
              <a href="#" class="text-dark">News 2 1</a></h4>
            <p >Some quick example text to build on the card title and make up the bulk of the card's content.</p>

          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4  " >
        <div class="panel ">
          <div class="panel-heading">
            <img src="assets/images/news/news4.jpg" class="img-responsive " alt="Education" >
          </div>

        </div>

        <div class="panel ">

          <div class=" panel-body" class="news-1-2">
            <p >Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <footer class="blockquote-footer">
              <small class="text-muted">
                Someone famous in <cite title="Source Title">Source Title</cite>
              </small>
            </footer>
          </div>
        </div>

        <div class="panel ">
          <div class="panel-heading">
            <img src="assets/images/news/news5.jpg" class="img-responsive " alt="Education" >
          </div>
          <div class=" panel-body">
            <h4 class="pannel-title" >
              <a href="#" class="text-dark">News 2 1</a></h4>
            <p >Some quick example text to build on the card title and make up the bulk of the card's content.</p>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
