<div class="action">
  <div class="container">
    <div class="row  ">
      <div class="col-lg-4 col-md-4 col-sm-4 actions-group " >
        <div class="action-card bg-primary ">
          <i class="fa fa-usd fa-2x pt-4"></i>
          <div class="action-card-body">
            <h4 class="card-title">Faire un Don</h4>
            <p class="card-text d-none d-md-block">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 actions-group  " >
        <div class="action-card  bg-primary ">

          <i class="fa fa-users fa-2x pt-4"></i>
          <div class="action-card-body">
            <h4 class="card-title">Devenir Membre</h4>
            <p class="card-text d-none d-md-block">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 actions-group " >
        <div class="action-card  bg-primary ">
          <i class="fa fa-globe fa-2x pt-4"></i>
          <div class="action-card-body">
            <h4 class="card-title">Nos Actions</h4>
            <p class="card-text d-none d-md-block">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
