<div class="container">
  <div class="col-md-2">
    <app-menu></app-menu>
  </div>
  <div class="col-md-10">
    <div class="position">
      <button type="button" class="btn btn-primary btn-lg" (click)="ouvrir(erreur)">Ajouter</button>
    </div>

    <table class="table">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Nom Donateur</th>
        <th scope="col">Email</th>
        <th scope="col">Adresse Facebook</th>
        <th scope="col">Adresse Twitter</th>
        <th scope="col">Adresse linkedin</th>
        <th scope="col">Adresse pinterest</th>
        <th scope="col">Adresse</th>
        <th scope="col">Statut</th>
        <th scope="col">Action</th>
      </tr>
      </thead>
      <tbody *ngIf="donateurs">
      <tr *ngFor="let m of donateurs._embedded.donateurs">
        <td>{{m.nomDonateur}}</td>
        <td>{{m.email}}</td>
        <td>{{m.adressFacebook}}</td>
        <td>{{m.adresstwitter}}</td>
        <td>{{m.adresstlinkedin}}</td>
        <td>{{m.adressPinterest}}</td>
        <td>{{m.adresse}}</td>
        <td>
          <div class="admin-form theme-info mw500" id="Authentification">
            <!-- Login Panel/Form -->

            <label class="switch ib switch-warning mt10">
              <input type="checkbox" name="etat" id="etat+{{m.idDonateur}}" checked>
              <label for="etat+{{m.idDonateur}}" data-on="YES" data-off="NO"></label>
              <span>Afficher</span>
            </label>
          </div>
        </td>
        <td class="bs-component"><button type="button" class="btn active btn-system btn-block">Modifier</button></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #erreur>
  <div class="modal-header bg-primary">
    <h4 class="modal-title pull-left">Ajout Donateur</h4>
  </div>
  <div class="modal-body ">
    <div class="container">
      <form #f="ngForm" (ngSubmit)="onSave(f.value)">
        <div class="form-group">
          <label >Nom Donateur</label>
          <input type="text" class="form-control" id="nomDonateur" name="nomDonateur" ngModel="" required>
        </div>

        <div class="form-group">
          <label >Adresse</label>
          <input type="text" class="form-control" id="adresse" name="adresse" ngModel="">
        </div>

        <div class="form-group">
          <label >Email</label>
          <input type="text" class="form-control" id="email" name="email" ngModel="" required>
        </div>

        <div class="form-group">
          <label >Adresse Facebook</label>
          <input type="text" class="form-control" id="adressFacebook" name="adressFacebook" ngModel="" required>
        </div>

        <div class="form-group">
          <label >Adresse Linkedin</label>
          <input type="text" class="form-control" id="adresstlinkedin" name="adresstlinkedin" ngModel="" required>
        </div>
        <div class="form-group">
          <label >Adresse Pinterest</label>
          <input type="text" class="form-control" id="adressPinterest" name="adressPinterest" ngModel="" required>
        </div>
        <div class="form-group">
          <label >Adresse Twitter</label>
          <input type="text" class="form-control" id="adresstwitter" name="adresstwitter" ngModel="" required>
        </div>
        <div class="form-group">
          <label >Statut</label>
          <input type="text" class="form-control" id="statut" name="statut" ngModel="" required>
        </div>

        <div class="form-group" *ngIf="typeDonateurs">
          <label for="typeDonateur">Type Donateur</label>
          <select class="form-control" id="typeDonateur" name="typeDonateur" ngModel="">
            <option *ngFor="let tdon of typeDonateurs._embedded.typeDonateurs" value="{{tdon.idTypeDonateur}}">{{tdon.libelleDonateurs}}</option>

          </select>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger pull-left" (click)="modalRef.hide()">
            Annuler
          </button>
          <button type="submit" class="btn btn-success">Enregistrer</button>
        </div>
      </form>
    </div>
  </div>


</ng-template>


