<div id="footer" class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4">
        <h4 class="wow fadeInUp">Nous Contacter</h4>
        <p><i class="fa fa-home" aria-hidden="true"></i> 111 Rue Lamp Fall, Thies Medina Fall, BP :5005</p>
        <p><i class="fa fa-envelope" aria-hidden="true"></i> contact.lemgui@gmail.com</p>
        <p><i class="fa fa-phone" aria-hidden="true"></i> +1 222 222 2222</p>
        <p><i class="fa fa-globe" aria-hidden="true"></i> www.lemgui.com</p>
      </div>
      <div class="col-lg-4 col-md-4">
        <h4>About</h4>
        <p><i class="fa fa-square-o" aria-hidden="true"></i> A Propos</p>
        <p><i class="fa fa-square-o" aria-hidden="true"></i> Privacy</p>
        <p><i class="fa fa-square-o" aria-hidden="true"></i> Status & Réglement</p>
      </div>
      <div class="col-lg-4 col-md-4">
        <h4>Nous Suivre</h4>
        <i class="social fa fa-facebook" aria-hidden="true"></i>
        <i class="social fa fa-twitter" aria-hidden="true"></i>
        <i class="social fa fa-linkedin" aria-hidden="true"></i>
        <i class="social fa fa-pinterest" aria-hidden="true"></i>
        <i class="social fa fa-youtube" aria-hidden="true"></i>
        <i class="social fa fa-github" aria-hidden="true"></i><br>
        <input type="email" placeholder="Subscribe For Updates"><button class="btn btn-success">Souscrire</button>
      </div>
    </div>
  </div>
</div>
