<div id="main">


  <!-- Start: Sidebar -->
  <aside id="sidebar_left" class="nano nano-light affix">

    <!-- Start: Sidebar Left Content -->
    <div class="sidebar-left-content nano-content">

      <!-- Start: Sidebar Menu -->
      <ul class="nav sidebar-menu">
        <li class="sidebar-label pt20">Menu</li>
        <li>
          <a routerLink="/programme">
            <span class="fa fa-calendar"></span>
            <span class="sidebar-title">Programme</span>

          </a>
        </li>
        <li>
          <a routerLink="/membre">
            <span class="glyphicon glyphicon-book"></span>
            <span class="sidebar-title">Membre</span>
          </a>
        </li>
        <li class="active">
          <a routerLink="/new">
            <span class="glyphicon glyphicon-home"></span>
            <span class="sidebar-title">News</span>
          </a>
        </li>
        <li>
          <a class="accordion-toggle menu-open" href="#">
            <span class="fa fa-columns"></span>
            <span class="sidebar-title">Apparences</span>
            <span class="caret"></span>
          </a>
          <ul class="nav sub-nav">
            <li>
              <a class="accordion-toggle" routerLink="/cadre">
                <span class="fa fa fa-arrows-h"></span>
                Cadres
                <span class="caret"></span>
              </a>
            </li>
            <li>
              <a class="accordion-toggle" routerLink="/domaine">
                <span class="fa fa-arrows-v"></span>
                Domaines
                <span class="caret"></span>
              </a>
            </li>
            <li>
              <a class="accordion-toggle" routerLink="/donateur">
                <span class="fa fa-hand-o-up"></span>
                  Donateurs
                <span class="caret"></span>
              </a>
            </li>
            <li>
              <a class="accordion-toggle menu-open" routerLink="/slide">
                <span class="fa fa-arrows-v"></span>
                Slide
                <span class="caret"></span>
              </a>
            </li>
            <li>
              <a class="accordion-toggle" routerLink="menu">
                <span class="fa fa-pause"></span>
                Menu
                <span class="caret"></span>
              </a>
            </li>
          </ul>
        </li>
        <li>
          <a class="accordion-toggle" routerLink="/ressourceù">
            <span class="glyphicon glyphicon-fire"></span>
            <span class="sidebar-title">Ressources</span>
            <span class="caret"></span>
          </a>
        </li>
        <li>
          <a class="accordion-toggle" href="#">
            <span class="glyphicon glyphicon-check"></span>
            <span class="sidebar-title">Securite</span>
            <span class="caret"></span>
          </a>
          <ul class="nav sub-nav">
            <li>
              <a href="admin_forms-elements.html">
                <span class="glyphicon glyphicon-edit"></span> Profil </a>
            </li>
            <li>
              <a href="admin_forms-widgets.html">
                <span class="glyphicon glyphicon-calendar"></span> Admin Widgets </a>
            </li>
            <li>
              <a href="admin_forms-validation.html">
                <span class="glyphicon glyphicon-check"></span> Admin Validation </a>
            </li>
            <li>
              <a href="admin_forms-layouts.html">
                <span class="fa fa-desktop"></span> Admin Layouts </a>
            </li>
            <li>
              <a href="admin_forms-wizard.html">
                <span class="fa fa-clipboard"></span> Admin Wizard </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </aside>
</div>


